<html lang="en">
<head>
	<title> LSD </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/card.css') }}">
</head>
<body>
	
	<section>
		<article class="card">
			<header class="card-header">
				<h1><p> General </p></h1>
				<h3> Checking </h3>
				<h2>
				<ul>			
					<li><a href="https://www.tutorialspoint.com/index.htm"> Tutorialspoint </a><br></li>
					<li><a href="https://www.geeksforgeeks.org/"> GeeksforGeeks</a></li>
				</ul>
				</h2>	
			</header>
		</article>
	</section>

	<section>
		<article class="card">
			<div>
				<header class="card-header">
					<h1><p> Multi-base Arithmetic </p></h1>
					<h3> Checking </h3>
					<label for="link">  <b> Enter expression : </b></label>
					<form action="" method="POST">
						<input type="text" name ="text" placeholder="Enter Here"><br>
						<input type="submit" name ="evaluate" value ="Evaluate">
					</form>
				</header>
				<h1>{{ result }}</h1>

			</div>
		</article>
	</section>

	<section>
		<article class="card">
			<header class="card-header">
				<h1><p> Links to Converters </p></h1>
				<h3> Checking </h3>
				<h2>
				<ul>
					<li><a href="https://www.rapidtables.com/convert/number/hex-dec-bin-converter.html"> Base Converter</a></li>
					<li><a href="https://www.wolframalpha.com/examples/mathematics/logic-and-set-theory/boolean-algebra/"> Wolfram Alpha</a></li>
				</ul>
				</h2>	
			</header>
		</article>
	</section>
	
	<section>
		<article class="card">
			<header class="card-header">
				<h1><p> Links to Logic reduction </p></h1>
				<h3> Checking </h3>
				<h2>
				<ul>
					<li><a href="http://quinemccluskey.com/"> Quine-McCluskey</a><br></li>
					<li><a href="https://charlie-coleman.com/experiments/kmap/"> Karnaugh map1 </a><br></li>
					<li><a href="http://www.32x8.com/index.html"> Karnaugh map</a><br></li>
				</ul>
				</h2>	
			</header>
		</article>
	</section>

</body>
</html>