body
{
	padding: 0;
	margin: 0;
	background-color: #17141d;
	color: white;
	font-family: monospace;
}
a
{
	color: orange;
}
a:hover
{
	color: red;
}
.card-list
{
	display: flex;
}

.card
{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 200px;
	width: 400px;
	min-width: 300px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #17141d;
	box-shadow: -1rem 0 3rem #000;	
	transition: .2s;
}
.card:hover
{
	transform: translateX(130px);
	height: 400px;
}

.card:focus
{
	width: 65%;
}
.card:hover~.card
{
	transform: translateX(-50px);
}

.card:not(:first-child)
{
	margin-left: -130px;
}

input[type = text]
{
	width : 3%;
	border : 2px solid #ccc;
	border-radius: 4px;
	padding: 12px 20px 12px 40px;
	box-sizing: border-box;
	transition-property: width;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
input[type = text]:focus
{
	width: 60%;
}